# Exclude: MCUXpresso Workspace Folders
*.metadata
*.mcuxpressoide_packages_support
*.launch

# Exclude: SDK for FRDM-KL02Z
/SDK_2.3.1_FRDM-KL02Z.zip

# Exclude: Debug and Release temporal folders
/FRDMKL02Z_Project_UART/Debug/
/FRDMKL02Z_Project_UART/Release/

# Exclude: doxygen html folder
/FRDMKL02Z_Project_UART/doxygen/html/

# Exclude: FreeRTOS_TAD_logs folder
/FreeRTOS_TAD_logs/

#Exclude: Others
*Notes.txt
