# Exclude: MCUXpresso Workspace Folders
*.metadata
*.mcuxpressoide_packages_support
*.launch

# Exclude: SDK for FRDM-KL02Z
/SDK_2.3.1_FRDM-KL02Z.zip

# Exclude: Debug and Release temporal folders
/MKL02Z32VFM4_UART0_GPIOB/Debug/
/MKL02Z32VFM4_UART0_GPIOB/Release/

# Exclude: doxygen html folder
/MKL02Z32VFM4_UART0_GPIOB/doxygen/html/

# Exclude: FreeRTOS_TAD_logs folder
/FreeRTOS_TAD_logs/

#Exclude: Others
*Notes.txt
